data/locations.list
data/shortened_and_processed_locations_list(3000 lines)
data/shortened_and_processed_locations_list(300 lines)
data/shortened_and_processed_locations_list(100 lines)
data/processed_locations_list(full)
#data/places_database